@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/fonts/icomoon.eot?zdxdq8');
  src:  url('../fonts/icomoon/fonts/icomoon.eot?zdxdq8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/fonts/icomoon.ttf?zdxdq8') format('truetype'),
    url('../fonts/icomoon/fonts/icomoon.woff?zdxdq8') format('woff'),
    url('../fonts/icomoon/fonts/icomoon.svg?zdxdq8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-skype:before {
  content: "\e904";
}
.icon-social:before {
  content: "\e904";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-hangouts:before {
  content: "\ea8e";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-vine:before {
  content: "\ea97";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-wordpress:before {
  content: "\eab4";
}
.icon-blogger:before {
  content: "\eab7";
}
.icon-tumblr:before {
  content: "\eab9";
}
.icon-soundcloud:before {
  content: "\eac3";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-stackoverflow:before {
  content: "\ead0";
}
.icon-chevron-with-circle-right:before {
  content: "\e902";
}
.icon-chevron-thin-down:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e900";
}
.icon-mail-envelope-closed:before {
  content: "\e905";
}
.icon-search2:before {
  content: "\e901";
}




.header-background {
	background-color: $cor-header-background;
}
.header-primary.active-bg .left-menu, .nealbit{
/*		opacity: 0;*/
		animation: fadeInClassSwitch 400ms;
		animation-iteration-count: 1;
		animation-fill-mode: forwards
	}
.header-primary.active-bg .social-media, .nealbit{
/*		opacity: 0;*/
		animation: fadeInClassSwitch 400ms;
		animation-iteration-count: 1;
		animation-fill-mode: forwards
	}
.header-primary.social-media, .nealbit{
		animation: fadeInClassSwitch 400ms;
		animation-iteration-count: 1;
		animation-fill-mode: forwards
		/*transition: all 100ms ease-in;
		opacity: 1;*/
	}

@keyframes fadeInClassSwitch {
	0% {
		opacity: 1;

	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}
#header {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;

}
#header.active-bg{
	background-color: $cor-bg-primary-aberto;
}

.social-media a span:hover{
	opacity: 0.5!important;
	transition: all 200ms ease-in;
}
.social-media a span:hover{transition: all 200ms ease-in;}

.active-bg .leftSection{
		justify-content: initial!important;
		transition: all 200ms ease-in;
}
.mainHeader{

	.active-bg{
			background: $cor-bg-primary-aberto;
			transition: all 200ms ease-in;
	}

	.logo{
		float: left;
	}
	.nealbit{
		display: none!important;
		transition: all 200ms ease-in;
	}
	.displayed{
		display: block;
		transition: all 200ms ease-in;
	}
	.leftSection {
	    display: flex;
	    flex-flow: row-reverse;
	    justify-content: center;
	    align-items: center;
	    height: 80px;
	    margin-top: 3px;
	    padding-right: 0px;
	}


	.socialIcons {
	    /*height: 80px;*/
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    /*line-height: 80px;*/
	    margin-top: -10px;
	    margin-right: 10px;
	}
	.socialIcons a {
		text-decoration: none;
    	color: white;
    	font-size: 1.18em;
    	padding-right: 10px;
    	padding-left: 10px;
	}


	.menuTitle{
		font-family: $familia-padrao;
		font-size: 0.51em;
	    text-transform: uppercase;
	    font-weight: 900;
	    padding-right: 10px;
	    letter-spacing: 0.8px;
	}

	.nav>li>a:hover, .nav>li>a:focus{
		background: none;
	}

	.hoveraf .navbar-nav>li>a{
		color: $cor-header-primary;
	}
	.hoveraf .navbar-nav>li:after {
		-webkit-transition: all 300ms ease-in;
		content: " ";
			display: block;
			width: 0%;
			height: 0px;
			background: $cor-header-primary;
			margin-left: 15px;
			margin-top: -11px;
			transition: all 200ms ease-in;
	}
	.hoveraf .navbar-nav>li:hover:after {
			top: 0px;
			height: 2px;
			width: 33%;
	}

	padding-top: 25px;


	.toggleNav {
		/*height: 80px;*/
		text-align: center;
		line-height: 80px;
		cursor: pointer;
		color: white;
		font-size: 30px;
		padding: 0px;
		margin-top: -10px;
	    width: auto;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}

	.toggleNav:hover {}

	.toggleNavButton {
			transition-duration: 0.5s;
			width: 30px;
			height: 2.4px;
			background-color: $cor-header-primary;
			position: relative;
			left: 0%;
			top: -12px;
			border-radius: 2px;
	}

	.toggleNavButton:before,
	.toggleNavButton:after {
			border-radius: 2px;
			transition-duration: 0.5s;
			content: "";
			position: absolute;
			top: 10px;
			left: 0;
			background-color: $cor-header-primary;
			width: 30px;
			height: 2.4px;
	}

	#subnav.active a {
			color: $cor-txt-primary-aberto;
			text-transform: uppercase;
			font-weight: 900;
			font-family: $familia-padrao;
			letter-spacing: 1px;
			font-size: 1em;
	}
	#subnav{
		color: $cor-txt-primary-aberto;
		text-transform: uppercase;
		font-weight: 900;
		font-family: $familia-padrao;
		letter-spacing: 1px;
		font-size: 1em;
	}
	.toggleNavButton:after { top: 20px; }

	.toggleNavButton.active {background-color: rgba(0,0,0,0.0); }

	.toggleNavButton.active:after {
		top: 10px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}

	.toggleNavButton.active:before {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}

	#subnav {
		width: 100%;
		transition-duration: 0.2s;
		overflow: hidden;
		height: 0px;
		display: flex;
	}

	#subnav.active {
		height: 50px;
	}

	#subnav ul {
		display: flex;
			flex-flow: column;
			align-items: flex-end;
		margin: 0 auto;
	}

	.page-header{
		border-bottom: 0px;
	}
	#subnav ul li {
		transition-duration: 0.3s;
		display: block;
		float: none;
		text-align: right;
		padding: 15px 0;
	}

	#subnav ul li a { color: $cor-txt-primary-aberto; }

	#subnav ul li:hover {  }

	.desactive{
		height: 0px!important;
	}

	#subnav.active a:hover {
			color: grey;
			text-decoration: none;
	}

}



@media all and (max-width: 992px) {
	.header-secondary{
		.left-menu{
			display: none;
		}
		.social-media{
			float: left!Important;
			margin-left: 15px;
		}

	}
	.header-quinary .social-media{
		padding-left: 0px;
	}

	.header-quaternary .left-menu{
		display: none;
	}
	.header-primary .social-media{
		display: none!important;
	}
	.header-secondary.active-bg{
		.social-media{
			opacity: 0;
			transition: all 200ms ease-in;
		}
	}

	.social-media{
		opacity: 1;
		transition: all 200ms ease-in;
	}

}

@media all and (min-width: 992px){
	.header-secondary .toggleNav{
		display: none;
	}

	.header-quaternary .toggleNav{
		display: none;
	}
}
@media all and (max-width: 1200px) {


}

@media all and (max-width: 768px) {
	ul#menu-left-menu li:last-child {
			display: none!important;
	}
	.header-primary #menu-left-menu{
		margin-left: 0px;
	}

	.left-menu.hoveraf.col-md-5.col-sm-7.col-xs-5 {
			padding: 0px;
	}
	.toggleNav{
		margin-top: -11px;
	}
/*	.header-background {
		background:none;
	}*/
}
@media all and (min-width: 768px) {

}
