.fullSize{
	background-size: cover!important;
	background-position: center!important;
	background-attachment: fixed!important;
}

.slider, .slider_type {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-flow: column;
	.centerContent{
		display: flex;
		align-content: center;
		justify-content: center;
		flex-flow: column;
		align-items: center;
		margin-top: 5vh;
	}

	.titleSlider{
		font-family: $familia-padrao;
		font-size: 3em;
	    color: white;
	    text-transform: uppercase;
	    text-align: center;
	    font-weight: 800;
	    letter-spacing: 0.8px;
	    line-height: 53px;
	}

	a.buttomKnow {
	    border: 2px solid white;
	    padding: 9px 29px;
	    color: white;
	    border-radius: 100px;
	    text-transform: uppercase;
	    font-family: $familia-padrao;
	    font-size: 0.98em;
	    margin-top: 35px;
	    font-weight: 700;
	    letter-spacing: 0.8px;
	    line-height: initial;
	    text-decoration: none;
    	transition: all 150ms ease-in;

	}

	a.buttomKnow:hover {
	    background: white;
	    color: #2d2d2d;
	}

	.scrollDown {
	    display: flex;
	    justify-content: center;
	    margin-top: 15vh;
	}
	.scrollDown img {
    	width: auto;
    	height: 50px;
	}
}

@media all and (max-width: 768px) {
	.socialIcons{
		display: none!important;
	}

	.titleSlider{
		font-size: 2.5em!important;
	}

}

@media all and (max-width: 440px){
	.menuTitle{
		display: none!important;
	}
}

@media all and (max-width: 992px) {


}


