
.blog_type{
	.peopleTitle {
	    font-family: $familia-padrao;
	    text-transform: uppercase;
	    font-size: 1.15em;
	    color: #fff;
	    font-weight: 700;
	}

	.bigTitle {
	    font-size: 3em;
	    margin-top: 15px;
	    font-family: $familia-padrao;
	    padding-left: 0px;
	    font-weight: 800;
	    line-height: 50px;
	    float: initial;
	    color: #fff;
	}

	header.infoHeader {
	    display: flex;
	    flex-flow: column;
	    justify-content: center;
	    align-items: center;
	    text-align: center;
	}


	margin-top: 48px;
	background: #3c3c3c;
	padding-top: 70px;
    padding-bottom: 170px;


	.leftSch.col-md-3, .rightSch.col-md-6{
		padding-left: 5px;
	}
	.theDateSh {
	    font-family: $familia-secundaria;
	    text-transform: uppercase;
	    letter-spacing: -0.5px;
	    font-weight: 400;
	    color: #2d2d2d;
	}
	.theDayTime {
	    font-family: $familia-secundaria;
	    font-weight: bold;
	    text-transform: uppercase;
	    font-size: 1.8em;
	    margin-top: -3px;
	    letter-spacing: -2px;
	    color: #3c3c3c;
	}
	.leftSch {
    	text-align: right;
    	border-right: 2px solid #474747;
    	padding-top: 15px;
	}
	.rightSch {
    	border-left: 2px solid #474747;
    	margin-left: -2px;
    	padding-top: 15px;
		padding-bottom: 30px;
	}

	.boxesTitle {
	    font-family: $familia-secundaria;
	    font-weight: bold;
	    text-transform: uppercase;
	    font-size: 1.8em;
	    letter-spacing: -2px;
	    color: #3c3c3c;
	    margin-left: 0px!important;
	    padding-left: 15px!important;
	}

	.boxesContent.col-md-11 {
	    font-family: $familia-secundaria;
	    line-height: 21px;
	    font-size: 1em;
	}

	.leftSch:after {
	    content: " ";
	    background: #569697;
	    width: 15px;
	    height: 15px;
	    display: block;
	    border-radius: 50%;
	    position: relative;
	    float: right;
	    left: 23.99px;
	    z-index: 9;
	}
	.item {
    	margin-left: 40px;
	}


}


.blogList {
	margin-top: -95px;
	.blogImage img {
    	width: 100%;
	}
	.blogTitle {
	    font-family: $familia-padrao;
	    text-transform: uppercase;
	    font-weight: 900;
	    font-size: 1.7em;
	    letter-spacing: -0.5px;
	    padding-right: 15px;
	}
	.blogTitle a{
		color: #2d2d2d;
	}
	span.blogTime {
	    padding-left: 8px;
	    text-decoration: underline;
	}
	.col-md-4.blogPost {
	    margin-bottom: 30px;
	}
	.postInfo {
	    font-family: $familia-padrao;
	    text-transform: uppercase;
	    font-weight: 900;
	    font-size: 0.96em;
	    color: #b9b9b9;
	}
	.postCategories ul li {
	    list-style: none;
	    display: inline-block;
	    padding:7px 7px;
	    border: 2px solid #c0c0c0;
	    font-family: $familia-padrao;
	    text-transform: uppercase;
	    font-weight: bold;
	    font-size: 0.96em;
	}
	.postCategories ul li a {
		color: #c0c0c0;
		text-decoration: none;
	}
	ul.post-categories {
	    padding: 0px;
	    margin: 0px;
	}

	.postCategories {
	    margin: 15px 0px;
	}

	.blogExcerpt {
	    font-family: $familia-padrao;
	    color: #2d2d2d;
	    padding-right: 15px;
	    line-height: 22px;
	    font-weight: 500;
	    margin-top: 5px;
	}



}







/*////////////////////////////////////////CONTATO////////////////////////////////////////////////////*/

.contatoTitle {
    font-size: 3em;
    font-family: $familia-padrao;
    font-weight: 800;
    color: white;
}


.contatoContent {
    font-family: $familia-padrao;
    color: white;
    font-size: 1.2em;
    padding: 0px;
    line-height: 24px;
}


.contato_type {
    display: flex;
    align-items: center;
    justify-content: center;
}


.flexFlowColunmC {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

.formContato {
    background: rgba(96,96,96,0.5);
    padding: 25px 30px 0px 30px;
    color: white;
    font-family: $familia-padrao;
    text-transform: uppercase;
}


.formContato input {
    background: none;
    border-top: 0px;
    border-bottom: 1px solid #fff;
    padding: 5px 0px;
    border-left: 0px;
    border-right: 0px;
}

.formContato .col-md-6, .formContato .col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
}


.formContato input {
    width: 100%;
    outline: none;
}

.formContato label {
    padding-left: 0px;
    font-weight: 300;
    font-size: 0.9em;
}
label.emailform {
    margin-top: 13px;
    margin-bottom: 13px;
}

.formContato textarea {
	outline: none;
    background: none;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #fff;
    width: 100%;
    height: 30px;

}
input.wpcf7-submit {
    color: white;
    text-transform: uppercase;
    margin-top: 13px;
    border: 1px solid #fff;
    border-radius: 0px;
    padding: 10px;
}

.nome {
    padding-right: 15px!important;
}


@media all and (max-width: 768px) {
	.formContato{
		width: 100%;
	}

	.formContato .col-md-6, .formContato .col-md-12{
		width: 100%;
    	padding: 0px!important;
    }

    .contatoTitle {
    	padding-top: 37px;
	}
}
