
.buttons {
    margin-top: 20px;
}
.mix{
	display: none;
}

div#button.active {
    background: white;
    color: #3c3c3c;
    transition: all ease-in 200ms;
}

.blackBigLine {
    width: 100%;
    height: 30px;
    background: #2c2c2c;
    margin-top: 70px;
}

.buttons .filter {
     display: inline-block;
    border: 2px solid white;
    color: white;
    padding: 9px 35px;
    border-radius: 100px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: $familia-padrao;
    font-size: 0.97em;
    font-weight: 700;
    letter-spacing: 1.1px;
    margin-left: 17px;
    margin-bottom: 18px;
}
.buttons .filter:first-child{
	margin-left: 0px;

}



.pessoas_type{
	.peopleTitle:after {
	    content: " ";
	    display: block;
	    width: 38px;
	    height: 3px;
	    background: #fff;
	    margin-top: 3px;
	}
	.peopleTitle {
	    font-family: $familia-padrao;
	    text-transform: uppercase;
	    font-size: 1.15em;
	    color: #fff;
	    font-weight: 700;
	}

	.bigTitle {
	    font-size: 3em;
	    margin-top: 15px;
	    font-family: $familia-padrao;
	    padding-left: 0px;
	    font-weight: 500;
	    line-height: 50px;
	    float: initial;
	    color: white;
	}

	background: #2a2a2a;
	padding-top: 70px;
    padding-bottom: 170px;

}

.peopleList{
	.personImage {
	    border-radius: 50%;
	    overflow: hidden;
	    border: 5.5px solid #fff;
	    width: 180px;
	}
	margin-top: -95px;
}


	.userName {
	    font-family: $familia-padrao;
	    text-transform: uppercase;
	    font-weight: 900;
	    font-size: 1.7em;
	    margin-top: 20px;
	    color: #2d2d2d;
	    text-align: left;
	    letter-spacing: 1.3px;
	}

	.userJob {
	    font-family: $familia-padrao;
	    text-transform: uppercase;
	    font-weight: 900;
	    font-size: 0.97em;
	    margin-top: -4px;
	    margin-bottom: 15px;
	}
	.personExcerpt {
	    font-family: $familia-padrao;
	    line-height: 27px;
	    font-size: 1.1em;
	    padding-right: 50px;
	}

@media all and (max-width: 768px) {
	.infoHD{
		.bigTitle{
			font-size: 2.5em;
		}
		.peopleTitle {
		    display: flex;
		    align-items: center;
		    flex-flow: column;
		}
		.bigTitle {
    		text-align: center;
		}

		.buttons {
		    display: none;
		    flex-flow: column;
		}

		#button {
		    margin-left: 0px;
		}

	}
	.peopleList{
		.mix {
		    display: flex!important;
		    justify-content: center;
		    align-items: center;
		    flex-flow: column;
		    text-align: center;
		}

		.personExcerpt {
		    padding: 0px 35px;
		}

		.flexMobile {
		    display: flex;
		    flex-flow: column;
		    align-items: center;
		}
	}

}
